/* 1. Import the Pywal colors FIRST */
@import "~/.cache/wal/colors-rofi-dark.rasi"

/* 2. Apply your layout using the variables from that import */
window {
    width:            500px;
    border:           2px;
    border-radius:    0px;
    border-color:     @selected-normal-background; /* Pywal's accent color */
    background-color: @background;
    /* This makes it 80% transparent */
    opacity:          0.5; 
}

mainbox {
    spacing:          0px;
    children:         [inputbar, listview];
    background-color: transparent;
}

element {
    padding:          8px;
    background-color: transparent;
    text-color:       @foreground;
}

element selected.normal {
    background-color: @selected-normal-background;
    text-color:       @background;
}

element-text {
    text-color:       inherit;
    background-color: transparent;
}
