.zsh_history
.bash_history
__pycache__

# --- System Junk ---
.DS_Store
Thumbs.db
*.swp
*~
.zsh_sessions/

# --- App Specific Junk ---
**/*.tmp
.cache/
**/socket
*.log
**/micro/buffers/history

# --- Sensitive Data (CRITICAL) ---
**/.ssh/
**/.gnupg/
**/credentials
**/token.txt
**/*.pem
**/*.key
.zshrc.local
.pass

# --- Large Binary Files ---
*.mp4
*.zip
*.tar.gz

# --- Custom-Scripts ---
~/dotfiles/shell-common/custom-scripts/RTM
~/dotfiles/shell-common/custom-scripts/Budget-Buddy
~/dotfiles/custom-scripts/pass
