* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    border: none;
    border-radius: 0;
}

/* 1. THE MAIN BAR - Transparent so islands 'float' */
window#waybar {
    background-color: transparent;
    margin: 10px 0px 0px 10px;
}

.modules-left,
.modules-right {
    background-color: #000000; /* The classic dark transparent */
    border: 1px solid #ffffff; /* Your Pywal accent border */
    border-radius: 5px; /* The rounded 'pill' look */
    padding: 1px 10px;
    /* MARGINS: Use these to create room for the shadow */
    /* top | right | bottom | left */
    margin: 10px 6px 6px 10px; 
}

/* Internal spacing for center modules */
.modules-right label {
    padding: 0 2px;
    font-size: 11px;
    background-color: transparent;
}

.modules-left label {
    padding: 0 2px;
    font-size: 11px;
    background-color: transparent;
}

/* 3. WORKSPACES ISLAND */
#workspaces {
    background: transparent;
    padding: 0 10px;
    margin: 0;
}

#workspaces button {
    padding: 0 8px;
    color: #ffffff;
    background: transparent;
    font-size: 12px;
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 2px solid #00ffff;
    border-radius: 2px;
}

#workspaces button:hover {
    background: rgba(0, 255, 255, 0.5);
    border: 0px;
}

/* 5. INDIVIDUAL MODULES (Cleanup) */
#battery, #temperature, #tray, #clock, #submap {
    background: transparent;
    color: #ffffff;
    padding: 5px 8px;
    margin: 0;
}

#taskbar {
    background: transparent;
    padding: 0 10px;
    margin: 0;
}

#taskbar button {
    padding: 0 8px;
    color: #ffffff;
    background: transparent;
    font-size: 12px;
}


#taskbar button.active {
    background-color: transparent;
    border-bottom: 2px solid #00ffff;
    border-radius: 2px;
}

#taskbar button:hover {
    background: rgba(0, 255, 255, 0.5);
    border: 0px;
}

#taskbar {
	background-color: transparent;
}

#custom-notification {
	font-size: 14px;
	color: #89b4fa;
	padding: 0 10px
}

#battery.critical:not(.charging) {
    color: #f38ba8; /* Red alert color */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-recorder {
    color: #ff5555; /* Red when waiting */
}

#custom-recorder.recording {
    color: #50fa7b; /* Green when active */
}

#custom-recorder {
    margin: 0 5px;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* 6. TRAY */
#tray {
    padding-left: 5px;
}
