@import "../../.cache/wal/colors-waybar.css";
* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    border: none;
    border-radius: 0;
}

/* 1. THE MAIN BAR - Transparent so islands 'float' */
window#waybar {
    background-color: transparent;
    margin: 2px 0px 0 0px;
}

.modules-center {
    background-color: @color2; /* The classic dark transparent */
    border-radius: 0px 0px 25px 25px; /* The rounded 'pill' look */
    padding: 1px 1px;
    /* top | right | bottom | left */
}

/* Internal spacing for center modules */
.modules-center widget {
    margin: 0px 10px; 
}

.modules-center label {
    padding: 0 2px;
    font-size: 11px;
    background-color: transparent;
}

/* 3. WORKSPACES ISLAND */
#workspaces {
    background: transparent;
    padding: 0 10px;
    margin: 0;
}

#workspaces button {
    padding: 0 8px;
    color: @color0;
    background: transparent;
    font-size: 12px;
}

#workspaces button.active {
    color: #ffffff;
    border-right: 2px solid #000000;
    border-radius: 10px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/* 5. INDIVIDUAL MODULES (Cleanup) */
#tray, #submap {
    background: transparent;
    color: @color0;
    padding: 5px 8px;
    margin: 0;
}

#taskbar {
    background: transparent;
    padding: 0 10px;
    margin: 0;
}

#taskbar button {
    padding: 0 8px;
    color: #ffffff;
    background: transparent;
    font-size: 12px;
}


#taskbar button.active {
    background-color: transparent;
    border-left: 2px solid #000000;
    border-radius: 10px;
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#taskbar {
	background-color: transparent;
}

#custom-notification {
	font-size: 14px;
	color: @color8;
	padding: 0 10px
}

#battery.critical:not(.charging) {
    color: #f38ba8; /* Red alert color */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.connected {
    color: #89b4fa; /* Blue Accent */
}

#bluetooth.off, #bluetooth.disabled {
    color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* 6. TRAY */
#tray {
    padding-left: 5px;
}
