/* Generated Configuration Asset */
window { background-color: #1d2021; border: 1px solid #9c7321; border-radius: 4px; }
.frame { background-color: #1d2021; }
.title { color: #ffffff; }
.hint { color: #aaaaaa; }
.clock-text { color: #9c7321; }
